<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academy Project</title>
    <meta name="author" content="Jefferson Barroso"/>
    <script src="https://kit.fontawesome.com/006642858d.js"></script>
</head>

<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMobile" aria-controls="navMobile" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navMobile" class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cadastrar Aluno</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pesquisar Aluno</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link btn-danger" href="#">Sair</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
    
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
<script src="/webjars/jquery/3.7.1/jquery.min.js"></script>

</body>
</html>